/*----- Reset -----*/

html{height: 100%;}
img {max-width: 100%; display: block;}
*{box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,figure{margin: 0; padding:0}

a:link {
  text-decoration: none;
}

body,a,h1,h2,form,input,select,.form-control{
  color: #232323;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  text-transform: uppercase
  ;
}

li{
  width: 10rem;
}

form h1{
  color:red;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 18px;
}

button{
  background-color: white;
  color: gray;
}
.searchbackground{
  background-image: url("../assets/svgs/solid/search.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}
.namebackground{
  background-image: url("../assets/svgs/regular/user.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}
.emailbackground{
  background-image: url("../assets/svgs/regular/envelope.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}
.countrybackground{
  background-image: url("../assets/svgs/solid/map-marked.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}
.occupationbackground{
  background-image: url("../assets/svgs/solid/briefcase.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}
.companybackground{
  background-image: url("../assets/svgs/solid/building.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left;
}

.grayborder{
  border-bottom: gray solid 2px;
}
.redborder{
  border-bottom: 5px solid red;
  width: 50%
}
.form-control{
  padding: 5px 5px 5px 20px;
  margin: 10px 5px;
  border-radius: 0;
  border: transparent;

}
/* Container holding the image and the text */
.overlay {
    position: relative;
  }
/* Centered text */
.centered-bottom{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-bottom: solid 3px;
  padding: 10px;
}
.search {
  border: transparent;
  padding-left: 20px;
}
.red{
  color:#d40f85
}
.blue{
  color: #0079a7
}
.Green{
  color:#16e4b9
}
.orange{
  color:#f36c2e
}
.marginleft{
  margin-left: 2rem;
}
.locationwidth{
  width: 50%;
}
@media only screen and (max-width: 765px) {
  .marginleft {
    margin: 0px 0px;
    ;
  }
  .locationwidth{
    width: 100%;
  }
}